# Dependencies
node_modules/

# Build output
dist/
build/
coverage/
tmp/

# Nx
.nx/cache
.nx/workspace-data

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# AWS
.aws-sam/

# Docker
docker-compose.override.yml